<div class="site-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card card--lg post post--single">
                    <div class="card__content">
                        <div class="row">
                            <div class="player-info__title col-xs-6">
                                <h1 class="player-info__name">
                                    <span class="player-info__first-name" style="color: #31404b;">{{(user$ | async)?.first_name}}</span>
                                    <span class="player-info__last-name">{{(user$ | async)?.last_name}}</span>
                                </h1>
                            </div>
                            <div class="col-xs-6">
                                <div class="player-info-details__item player-info-details__item--weight">
                                    <h3 class="player-info-details__title">Phone</h3>
                                    <div class="player-info-details__value">{{(user$ | async)?.phone_number}}</div>
                                </div>
                                <div class="player-info-details__item player-info-details__item--age">
                                    <h3 class="player-info-details__title">Status</h3>
                                    <div class="player-info-details__value">
                                        <span class="label label-success" *ngIf="!(user$ | async)?.expired()">Active (up to {{(user$ | async)?.expires_on  | date:'d MMMM yyyy'}})&nbsp;</span>
                                        <span class="label label-warning" *ngIf="(user$ | async)?.expired();">Not active (from {{(user$ | async)?.expires_on | date:'d MMMM yyyy'}})&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>